In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [82]:
def admission_admit(df):
    # df['DISCH DATE'] = pd.to_datetime(df['DISCH DATE'], errors='coerce')
    return df_admissions.groupby('ID')['DISCH DATE'].max()
    

def admission_tac():
    pass

def admissions():
    pass

def basic_patient_info(df):
    return df['original disease']

def glucose(df):
    
    if df.groupby('id')['result'].mean() > 5.5:
        
        return 
    else:
        return 0
    
def  labs_avg(df):
     df['creatinine'] = df[df['test'] == 'creatinine'].mean()
     df['creatinine clearance']=  df[df['test'] == 'creatinine clearance'].mean()
     df['urea in blood'] = df[df['test'] == 'urea in blood'].mean()
     return df['creatinine'], df['creatinine clearance'], df['urea in blood']

def labs_raw(df):
     df['creatinine'] = df[df['test'] == 'creatinine'].mean()
     df['creatinine clearance']=  df[df['test'] == 'creatinine clearance'].mean()
     df['urea in blood'] = df[df['test'] == 'urea in blood'].mean()
     return df['creatinine'], df['creatinine clearance'], df['urea in blood']

def tacro(df):
    if df['result'].mean()  > 15 or df['result'].mean()  < 5:
        df['result'] =1
        return df
    else:
        df['result'] = 0
        return  df
    
def vitals(df):
    df['systolic'] = df[df['test'] == 'systolic'].mean()
    df['diastolic'] = df[df['test'] == 'diastolic'].mean()
    df['HR'] = df[df['test'] == 'HR'].mean()
    df['WT'] = df[df['test'] == 'WT'].mean()
    return df['systolic'], df['diastolic'], df['heart rate'], df['respiratory rate'], df['temperature']

In [100]:
## read the files 
df_admissions = pd.read_excel('/Users/prakashgupta/radboudUMC-assignment/data/source/data/1-10/Admission Tac & meds 1-10.xls', sheet_name='ADMIT')

In [101]:
df_admissions

    ID ADMIT DATE  ADMIT UNIT  DISCH DATE DISCHARGE UNIT
0    1 2005-12-28  NICU        2007-10-26             6A
1    2 2007-01-08  6A          2007-01-26             6A
2    2 2007-02-06  HOLD        2007-02-20             6A
3    3 2006-08-13  6A          2007-03-02             6A
4    3 2007-04-04  4D          2007-04-04             4D
5    4 2007-02-13  6ACU        2007-03-19             6A
6    4 2007-04-17  6A          2007-05-04             6A
7    4 2007-11-07  6A          2007-11-11             6A
8    4 2007-12-10  6A          2007-12-10             6A
9    4 2008-06-09  6A          2008-06-12             6B
10   4 2009-01-15  6ACU        2009-01-18             6A
11   5 2007-02-06  5A          2007-04-16             6A
12   5 2007-05-05  HOLD        2007-07-04             6A
13   5 2007-07-24  6A          2007-07-25             6A
14   5 2007-08-21  6A          2007-10-16             6A
15   5 2009-02-24  HOLD        2009-03-04             6A
16   6 2006-11-09  6ACU        2007-03-14             6A
17   6 2007-04-12  7E          2007-04-14             7E
18   6 2007-06-27  6ACU        2007-06-28           6ACU
19   6 2007-07-27  HOLD        2007-08-03             6A
20   6 2007-10-08  6A          2007-10-15             6A
21   6 2008-03-19  6A          2008-03-31             6A
22   6 2008-09-12  6A          2008-09-15             6A
23   6 2009-01-17  HOLD        2009-01-19             6A
24   7 2007-03-05  6A          2007-03-21             6A
25   8 2007-03-25  6A          2007-05-08             6A
26   8 2007-06-02  HOLD        2007-06-10             6A
27   8 2007-10-11  4C          2007-10-17             6A
28   8 2008-09-15  6A          2008-09-15             6A
29   9 2007-03-25  6A          2007-04-17             6A
30   9 2007-11-29  6A          2007-12-01             6A
31   9 2008-02-07  6A          2008-02-09             6A
32  10 2007-04-03  6A          2007-04-20             6A
33  10 2007-07-12  6ACU        2007-07-17             6A
34  10 2007-07-27  6A          2007-08-14             6A
35  10 2008-10-19  6B          2008-10-26             6B
36  10 2009-03-25  6A          2009-04-06             6A

In [102]:
df = admission_admit(df_admissions)

In [103]:
df

ID
1     2007-10-26
2     2007-02-20
3     2007-04-04
4     2009-01-18
5     2009-03-04
6     2009-01-19
7     2007-03-21
8     2008-09-15
9     2008-02-09
10    2009-04-06
Name: DISCH DATE, dtype: object

In [ ]:
concatenated_df = pd.concat([df1, df2], axis=1)

In [118]:
df_glucose = pd.read_excel('/Users/prakashgupta/radboudUMC-assignment/data/source/data/1-10/Glucose 5,8,9.xls')

In [119]:
df_glucose['result'] = pd.to_numeric(df_glucose['result'], errors='coerce')

In [120]:
df_2= df_glucose.groupby('id')['result'].mean()

In [44]:
df_glucose['result'] =pd.to_numeric(df_glucose['result'], errors='coerce')

In [123]:
concatenated_df = pd.concat([df_3, df_2], axis=1)

In [107]:
df_combined = df.combine_first(df_2)

In [125]:
concatenated_df

      result    result
id
1   6.780894       NaN
2   6.427160       NaN
3   5.584746       NaN
4   5.043599       NaN
5        NaN  7.718204
6   5.589623       NaN
7   6.651613       NaN
8        NaN  7.746317
9        NaN  5.966154
10  5.776288       NaN

In [80]:
concatenated_df.groupby('ID')['DISCH DATE'].max()

ID
1    2007-10-26
2    2007-02-20
3    2007-04-04
4    2009-01-18
5    2009-03-04
6    2009-01-19
7    2007-03-21
8    2008-09-15
9    2008-02-09
10   2009-04-06
Name: DISCH DATE, dtype: datetime64[ns]

ID
1     2007-10-26
2     2007-02-20
3     2007-04-04
4     2009-01-18
5     2009-03-04
6     2009-01-19
7     2007-03-21
8     2008-09-15
9     2008-02-09
10    2009-04-06
Name: DISCH DATE, dtype: object